.desktop-picker {
    position: relative;

    .desktop-picker-pane-audio {
        background: transparent;
        position: absolute;
        padding: 24px;
        height: 40px;
        bottom: 0;
        left: 0;
    }
}
.desktop-picker-pane {
    height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding-bottom: 36px;


    &.source-type-screen {
        .desktop-picker-source {
            margin-left: 2px;
            margin-right: 2px;
            float: left;
            width: 48%;
        }

        .desktop-source-preview-thumbnail {
            width: 100%;
        }

        .desktop-source-preview-label {
            display: none;
        }
    }

    &.source-type-window {
        .desktop-picker-source {
            display: inline-block;
            width: 30%;
        }
    }

    &-spinner {
        justify-content: center;
        display: flex;
        height: 100%;
        align-items: center;
    }
}

.desktop-picker-source {
    margin-top: 10px;
    text-align: center;

    &.is-selected {
        background: rgb(36, 111, 229);
        border-radius: $borderRadius;
    }
}

.desktop-source-preview-label {
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.desktop-source-preview-thumbnail {
    box-shadow: 5px 5px 5px grey;
    height: auto;
    max-width: 100%;
}

.desktop-source-preview-image-container {
    padding: 10px;
}

.desktop-picker-tabs-container {
    width: 65%;
    margin-top: 3px;
}
